<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FuncWebApp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="C:\Users\HP\Desktop\DRF-Project\DjFunWebApp\FuncWebApp\static\style11.css.css" />
  </head>
  <body>
    <h1>WELCOME!!!!!!!</h1>
    <div class="container">
      <div class="center">
        <a href="register">Registration</a><br>
        <a href="login">Login</a>
          
              </div>
          </form>
      </div>
    </div>
  </body>
</html>